
html {
    height: 100%!important;
    font-family: 'PingFang SC','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei',Arial,Helvetica,sans-serif;
}

body {
    background-color: #ffffff;
}

.content img {
    width: 100%;
}

pre[class="highlight"] {
    padding: .5rem!important;
    border-radius: .3rem!important;
    background-color: #f8f9fa!important;
}