
html {
    height: 100%!important;
    font-family: 'PingFang SC','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei',Arial,Helvetica,sans-serif;
}

body {
    background-color: #ffffff;
}

h3 {
    font-size: 1.25rem;
    line-height: 3rem;
}

h4 {
    font-size: 1rem;
    line-height: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

.content img {
    width: 100%;
}

.content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

i {
    margin-right: .25rem!important;
}

ul {
    padding-left: 0px;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

em, code[class="highlighter-rouge"] {
    color: #dc3545;
    display: inline-block;
    padding: .25em .4em;
    background-color: #f8f9fa;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

pre[class="highlight"] {
    padding: .5rem!important;
    border-radius: .3rem!important;
    background-color: #f8f9fa!important;
}