<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=768, user-scalable=no">
    <meta name="description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ site.baseurl }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body class="d-flex flex-column h-100">
    <div class="container-fluid bg-dark">
        <div class="container pt-5">
            <div class="header row">
                <div class="col">
                    <h1 class="h1 text-light">{{ site.title }}</h1>
                    <h2 class="h3 text-light">{{ site.description }}</h2>
		    <p class="py-3"><a href="https://item.taobao.com/item.htm?ft=t&id=637600633789" target="_blank"><img src="/assets/img/ad.jpg" width="580" /></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
      <div class="container my-5">
        <div class="content">
          <ul>
            {% for page in site.pages %}
            {% if page.title %}
            <li class="my-1">
              <a class="text-dark" href="{{ page.url }}"><i class="icon-file-text-alt"></i> {{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="footer container-fluid mt-auto bg-dark">
      <div class="container py-3 text-center">
        {% include footer.html %}
      </div>
    </div>
</body>
</html>
