<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% seo %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body class="d-flex flex-column h-100">
    <div class="container-fluid bg-dark">
        <div class="container py-5">
            <div class="header row">
                <div class="col">
                    <p class="h1"><a href="/" class="text-light">{{ site.title }}</a></p>
                    <p class="h3 text-light">{{ site.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container my-5">
            <div class="content">
                {{ content }}
            </div>
            {% if page.copyleft %}
            <div class="copyleft">
                {% include copyleft.html %}        
            </div>
            {% endif %}
        </div>
    </div>

    <div class="footer container-fluid mt-auto bg-dark">
        <div class="container py-3 text-center">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>