<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta name="description" content="{{ page.description }}" />
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:locale" content="{{ site.lang }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script type="application/ld+json">
    {"@type":"WebPage","headline":"{{ page.title }}","url":"{{ site.baseurl }}{{ page.url }}","description":"{{ page.description }}","@context":"http://schema.org"}
    </script>
</head>
<body class="d-flex flex-column h-100">
    <div class="container-fluid bg-dark">
        <div class="container pt-5">
            <div class="header row">
                <div class="col">
                    <p class="h1"><a href="/" class="text-light text-decoration-none">{{ site.title }}</a></p>
                    <p class="h3 text-light">{{ site.description }}</p>
		    <p class="py-3"><a href="https://item.taobao.com/item.htm?ft=t&id=637600633789" target="_blank"><img src="/assets/img/ad.jpg" width="580" /></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container my-5">
            <div class="content">
                {{ content }}
            </div>
            <div class="copyleft">
                {% include copyleft.html %}        
            </div>
        </div>
    </div>

    <div class="footer container-fluid mt-auto bg-dark">
        <div class="container py-3 text-center">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>
